@import "../variables/Variables.scss";


.productItem {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $redColor;
    }

    button {
        @include buttonStyle();
    }
}

img {
    border: solid black 3px;
}